$color: (
    primary: #00bea2,
    primary-border: #00bea24d,
    primary-2: #00b398,
    success: #00aa91,
    success-dark: #009781,
    warning: #fa9905,
    warning-dark: #ec8e00,
    danger: #fb3640,
    danger-dark: #ee323b,
    whiteF: #FFFFFF,
    base-page: #F1F1F1,
    box-shadow: #00000029
)